*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}
  
.bground_image{
    background: url( https://plan-international.org/tachyon/sites/24/2021/12/202105-NGA-14-scr-e1640345783114.jpg ) center center;
    min-height: 400px;
    background-attachment: fixed;
    object-fit: cover;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
   
}
h1{
    font-family: 'Lato', sans-serif;
font-family: 'Peralta', cursive;}
h2{
    font-family: 'Lato', sans-serif;
    font-family: 'Peralta', cursive;
}
 
body{
    width: 100vw;
}

/* HEADING */
.logo {
    display: flex;
    justify-content: space-between;
    padding:2rem;
    background-color: rgb(0,114,206);
    color: white;
}
.logo p{
    color: white;
}
.sitename{
    display: flex;
    justify-content:center;
    padding: 2rem;
    background-color: rgb(36,60,75);
    color: white;
}
/* SECTION */
section{
    display: flex;
     
    
}
.section1{
    padding: 4rem;
}
.part1, .part2{
    width: 50%;
    margin: 1rem;
    padding: 2rem;
    font-size: 1.2rem;
}
.part1{
   
    background-color: #fff;
     
}
.part2{
    width: 50%;
    background-color:  #F1C400;
    color: rgb(36,60,75);
    margin-right: 10rem;
    
}
ul{
    padding-left: 4rem;

}
    
.readmore1, .readmore2, .readmore3{
    background-color: #fff;
    margin: 2rem 1rem;
    width: 33%;
}

.content{
    margin: 1rem 2rem;
    padding: 1rem;
}
.imagesection{
    width: 100vw;
    display: flex;
    background-color: #58CAE7;
    padding: 1rem;

}
.wherewework{
    justify-content: center;
    display: flex;
     

}
 
.address{
    background-color: #F6F6F6;
    padding: 3rem;
    height:30rem;
    width: 30rem;
}
p{
    font-size: 1.3rem;
    color: #2D373D;
}
.map img{
     
    height: 30rem;
    margin: 5rem;
    margin-top: 0rem;
}

h3{
    font-size: 2rem;
    margin-bottom: 2rem;

}
a{
    border-radius: 5rem;
    background-color: #0072CE;
    margin: 2rem;
    padding: 1rem ;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: white;
     /* position: relative; */
    top: 1rem;
}
.see{
    background-color: #fff;
    color: #0072CE;

}
.see:hover{
    border-bottom: #0072CE;
    background-color: #fff;
}
a:hover{
    background-color: #35A5FF;
}
.heading{
    text-align: center;
    
}
.heading h2{
    margin: 2rem;
    font-size: 3rem;
}
.keycontacts
{
    background-color: #F1C400;
    padding:3rem;
    width: 50rem;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    flex-direction: column;
}
.keycontacts h3{
    margin: 0;
  
}
.contact{
    background-color: white; 
    padding: 2rem;
    width: 50%;

}
.socialmedia{
    background-color: rgb(0,114,206);
    height:15 rem ;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.socialmedia p{
    color: #fff;
    height: 15rem;
    margin: 0 auto;
}

.copyright{
    background-color:rgb(45,55,55);
    color: #fff;

    display: flex;
    justify-content: space-between;  
}
.contact img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    
}
 
footer nav ul li a{
    color: #fff;
    background-color:rgb(45,55,55);
 
     
}
 
footer nav ul li {
    list-style: none;
    display: inline;


}

footer nav ul li a:hover{
    border-radius: 0rem;
    background-color:rgb(45,55,55);
}
footer{
    margin-top: 3rem;
    display: inline;
    margin:3rem;
}
footer p{
    color: #fff;
    
}